Repository SmitaCnovate/azure-agentic-infraops: changes, and which lefthook commands are due for each by the changed paths.
All: markdown-lint, link-check, h2-sync, artifact-validation, agent-frontmatter, instruction-frontmatter

Path conditions:
  markdown-lint: any of: *.md
  link-check: any of: docs/**/*.md
  h2-sync: any of: {.github/skills/azure-artifacts/SKILL.md,.github/instructions/artifact-h2-reference*,scripts/validate-artifact-templates*}
  artifact-validation: any of: {agent-output,.github/skills/azure-artifacts/templates}/**/*.md
  agent-frontmatter: any of: **/*.agent.md
  instruction-frontmatter: any of: **/*.instructions.md

chore: Add Phase 10.4 CI/CD + Disable Java workflow
  .github/workflows/timetracker-deploy.yml
  .github/workflows/web-timetracker-java.yml
Due: none

fix: Remove problematic cache-dependency-path entries
  .github/workflows/timetracker-deploy.yml
Due: none

fix: Disable dotnet caching to resolve auto-discovery errors
  .github/workflows/timetracker-deploy.yml
Due: none

fix: Explicitly set cache: false in setup-dotnet and setup-node
  .github/workflows/timetracker-deploy.yml
Due: none

refactor: Rewrite workflow for pre-built artifact deployment
  .github/workflows/timetracker-deploy.yml
Due: none

chore(release): bump version to 8.0.0
  CHANGELOG.md
  VERSION.md
  package.json
Due: markdown-lint

fix: Resolve Node setup and SDK path issues
  .github/workflows/timetracker-deploy.yml
Due: none

ci: Add debug output for SDK path diagnosis
  .github/workflows/timetracker-deploy.yml
Due: none

fix: Add SDK package.json and make SDK job non-blocking
  .github/workflows/timetracker-deploy.yml
  agent-output/timetracker/sdk/typescript/package.json
Due: none

chore: Add TypeScript configuration and minimal SDK source
  agent-output/timetracker/sdk/typescript/src/index.ts
  agent-output/timetracker/sdk/typescript/tsconfig.json
Due: none

fix: Resolve TypeScript compilation errors in SDK
  agent-output/timetracker/sdk/typescript/package.json
  agent-output/timetracker/sdk/typescript/src/index.ts
  agent-output/timetracker/sdk/typescript/tsconfig.json
Due: none

feat(phase-10.5): Add security hardening infrastructure templates
  agent-output/timetracker/deployment/PHASE10.5-SECURITY-HARDENING.md
  infra/bicep/timetracker-prod/main.bicep
  infra/bicep/timetracker-prod/modules/key-vault.bicep
  infra/bicep/timetracker-prod/modules/managed-identity.bicep
  infra/bicep/timetracker-prod/parameters.prod.json
Due: markdown-lint, artifact-validation

fix: Resolve Bicep linting errors in security infrastructure
  infra/bicep/timetracker-prod/main.bicep
  infra/bicep/timetracker-prod/modules/key-vault.bicep
  infra/bicep/timetracker-prod/modules/kv-access-policy.bicep
Due: none

fix: Remove diagnostic settings with missing sink from Key Vault
  infra/bicep/timetracker-prod/modules/key-vault.bicep
Due: none

chore(release): bump version to 7.5.1
  CHANGELOG.md
  VERSION.md
  package.json
Due: markdown-lint

docs(phase-10.5): Add security hardening completion documentation
  PHASE10.5-SECURITY-HARDENING-COMPLETED.md
  infra/bicep/timetracker-prod/parameters.prod.json
Due: markdown-lint

feat(phase-10.6): Initialize React SPA frontend with Azure AD auth, Material-UI, and CI/CD
  .github/workflows/timetracker-frontend-deploy.yml
  PHASE10.6-FRONTEND-DEVELOPMENT.md
  agent-output/timetracker/web/.env.example
  agent-output/timetracker/web/README.md
  agent-output/timetracker/web/eslint.config.js
  agent-output/timetracker/web/index.html
  agent-output/timetracker/web/package.json
  agent-output/timetracker/web/src/App.tsx
  agent-output/timetracker/web/src/components/Layout.tsx
  agent-output/timetracker/web/src/components/ProtectedRoute.tsx
  agent-output/timetracker/web/src/config/authConfig.ts
  agent-output/timetracker/web/src/hooks/useApi.ts
  agent-output/timetracker/web/src/index.css
  agent-output/timetracker/web/src/main.tsx
  agent-output/timetracker/web/src/pages/ApprovalsPage.tsx
  agent-output/timetracker/web/src/pages/ClientsPage.tsx
  agent-output/timetracker/web/src/pages/CreateTimeEntryPage.tsx
  agent-output/timetracker/web/src/pages/DashboardPage.tsx
  agent-output/timetracker/web/src/pages/EditTimeEntryPage.tsx
  agent-output/timetracker/web/src/pages/LoginPage.tsx
  agent-output/timetracker/web/src/pages/ProjectsPage.tsx
  agent-output/timetracker/web/src/pages/ReportsPage.tsx
  agent-output/timetracker/web/src/pages/SettingsPage.tsx
  agent-output/timetracker/web/src/pages/TimeEntriesPage.tsx
  agent-output/timetracker/web/src/pages/UsersPage.tsx
  agent-output/timetracker/web/src/services/apiClient.ts
  agent-output/timetracker/web/src/services/timeEntryService.ts
  agent-output/timetracker/web/src/types/index.ts
  agent-output/timetracker/web/tsconfig.json
  agent-output/timetracker/web/tsconfig.node.json
  agent-output/timetracker/web/vite.config.ts
Due: markdown-lint, artifact-validation

chore(release): bump version to 7.6.0
  CHANGELOG.md
  VERSION.md
  package.json
Due: markdown-lint
